    body{ 
    background:#e2e2e2d5;
    margin: 0;
    font-family: sans-serif;
    display: flex;
    flex-direction: column; 

} 
#nav1 {
    background:rgba(18, 18, 18, 0.911);
    color: white;
    display: flex;
    position: static;
    flex-direction:row;
    align-items: center;
    height: 70px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 7.5px;
    /* box-shadow: 0px 0px 25px -15px black; */
}

/* ?BUBBLES */
.titulo-logo{
    display: flex;
    font-style: oblique;
    font-size: 30px;
    letter-spacing: 2px;
    margin-left: 190px;
    /* background-color: rgb(184, 170, 170); */
    border-radius: 15px;
    transition: 0.4s;
}
.titulo-logo:hover{
    /* background: rgba(233, 22, 22, 0.074); */
    /* box-shadow: 0px 0px 20px -13px rgb(233, 22, 22); */
    color: red;
    text-shadow: 2px 25px 5px rgba(185, 46, 46, 0.5);
    /* QUE VACANERIA */
}

/* ?BARRA DE BUSCAR */
.input-buscar{
    margin: auto;
    width: 450px;
    background: transparent; 
    border: none;
    border-bottom: 2px solid grey;
    border-right: 2px solid grey; 
    border-radius: 30px; 
    height:24px;

}

/*  tratar de separar el placeholder de la parte izquierda de la barra */

::placeholder{
    /* letter-spacing: 2px; */
    color: white;
    position: absolute;
    left: 30px; 
    top: 50%;
    transform: translateY(-50%);
}
.input-buscar:hover{
    outline: 2px solid rgb(199, 199, 199);   
    outline-offset: -1px;

}
/* BOTON DE BUSCAR */
button{
    color: white;
    background-color: transparent;
    border-radius: 10px;
    border: none;
    border-bottom: 2px solid  rgba(199, 199, 199, 0.55) ;
    border-right: 2px solid  rgba(199, 199, 199, 0.685) ;
    /* box-shadow: 00px 0px 3px rgb(152, 148, 148); */
}
.container-busqueda{
   
    background: transparent;
    /* border: 1px solid  rgb(94, 94, 93); */
    border-radius: 10px;
    font-weight: bolder; 
    margin: auto; 
    height:24px; 
    width: auto;
    color: rgb(255, 255, 255);
    
}
.container-items{
  margin-right: auto;
}
.button-buscar:hover{
   outline: 2px solid rgb(94, 94, 93);   
   outline-offset: -1px;
}

/* ?aqui estan los items pero solo se ve bien cuando se abre en la pagina, no he encontrado la forma de que se adapten al tamaño */

 i{ 
    margin: auto    ;
    font-size: 20px;
    margin-right: 20px;
}


/* ?BOTON DE SIGN IN */
.sign-in{
    background: transparent;
    border: 1.4px solid rgba(199, 199, 199, 0.491);
    color: white;
    border-radius: 10px;
    font-weight: bolder; 
    height:24px; 
}
.sign-in:hover{
    outline: 3px solid rgb(94, 94, 93);   
   outline-offset: -1px;
} 

/*                         NAV-2                         */

#nav2{
    background:rgba(18, 18, 18, 0.911);
    display: flex;
    height: 60px;
    color: white;
    /* background-color: aqua; */
    margin: auto;
    align-items: center;
    box-shadow: 0px 15px 25px -21px rgb(0, 0, 0);
    /* border: none; */
    padding-top: 7.5px;
    padding-bottom: 7.5px;
}

#productosL {
    width: 200px;
    margin-left: 10%;
    background-color: rgb(255, 255, 255);
    border: none;
    border-bottom: 2px solid grey;
    border-right: 2px solid grey;
    border-radius: 30px;
    height:30px;
    padding: 3px;   
}

#productosL:hover{
    outline: 2px solid rgb(199, 199, 199);   
    outline-offset: -1px;
}
.ul-inline{
    display: flex;
    flex-direction: row;
    margin-left:  10%;
}
#nav2 ul li{
    list-style-type: none;
    margin-left: 80px;
   
}
a{
    text-decoration: none;
    color: white;
    font-family:sans-serif;
    font-size: 18px;
    font-weight:bolder;
}
.oferta{
    color: red;
    transition: 0.3s;
}
.oferta:hover{
    color: white;
}


/*        MAIN        */


.container-layout{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center; 
  margin-top: 70px; 
  gap: 100px;
  box-sizing: border-box;
  /* border: 2px solid black;   */
  position: relative;
  /* padding: 0px 0px 100px 0px; */
  animation: aparece 2s both;
  
}

/*             LAYOUT 1               */

.layout-1{
    background: radial-gradient(circle, rgba(255, 223, 252, 0.33) 50%, rgb(255, 255, 255) 80%); 
    box-shadow: 00px 00px 30px -10px rgb(15, 15, 15);
   background-color:transparent;
    width: 320px;
    max-height: 600px;
    margin-top:18px; 
    margin-bottom:5px;
    display: grid;
    grid-template-columns: repeat( 3,1fr);
    gap: 10px;  
    border-radius: 15px;
    padding: 0px 20px 25px;
    transition: 0.5s;
    
}
.layout-1:hover{
    transform: scale(1.1);
    box-shadow: 00px 00px 35px -5px rgb(149, 6, 6);
    
}
.img-layout{
    height: 100%;
    width: auto;
   
}

.img-layout{
    object-fit: cover;
    width: 100%;
    border-radius:10px;
}

.titulo-1 {
    grid-column: span 3; /* Hace que cada div ocupe 3 columnas */
  }
  

/*             LAYOUT 2               */

.layout-2{
    background: radial-gradient(circle, rgba(255, 134, 243, 0.15) 2%, rgb(255, 255, 255) 70%);
    border-radius: 15px;
    box-shadow: 00px 00px 30px -10px rgb(15, 15, 15);
    height: 300px;
    width: 350px;
    top: 130px;
    margin-bottom: 250px;
    position: relative;   
    padding: 0px 15px 25px;
    transition: 0.5s;
    
}
.layout-2:hover {
    transform: scale(1.1);
    box-shadow: 00px 00px 35px -5px rgb(149, 6, 6);

}
.layout-contenido-2{
    border-radius: 10px;
    box-shadow: 00px 00px 35px -5px rgb(169, 167, 167);
    position: absolute;
    top: 40%;
    left: 13%;
    height: 165px;
    width: 250px;
}

h2 span{
    margin-left: 10px;
    color: red;
}
h3 span{
    margin-left: 10px;
    color: grey;
}
.layout-contenido-2 img{
    height: 100%;
    width: 100%;
    border-radius: 15px;
}



/*             LAYOUT 3                */


.layout-3{
    background: radial-gradient(circle, rgba(255, 223, 252, 0.33) 50%, rgb(255, 255, 255) 80%);    margin-top: 30px;
    box-shadow: 00px 00px 30px -10px rgb(15, 15, 15);
    background-color:transparent;
    width: 350px;
    margin-top:10px;
    margin-bottom:5px;
    display: grid;
    grid-template-columns: repeat( 3,1fr);
    grid-template-rows: repeat(4,1fr); 
    border-radius: 15px;
    align-self: center;
   align-content: center; 
   display: inline-block;
  padding: 0px 20px 25px;
  transition: 0.5s;
  
}

.layout-3:hover{
    transform: scale(1.1);
    box-shadow: 00px 00px 35px -5px rgb(149, 6, 6);

}
.img-layout-3{
   

  width: 100%;
  height: 100%;
    border-radius:10px;
}

.layout-3 article img {
    grid-column: span 3; 
  }   

/*                ANIMACION          */
@keyframes aparece {
    from{
        opacity: 0;
    }
    to{
       opacity: 1;
    }
    
}